// _boxes.scss

$box-hpadding: $gutter-width;
$box-vpadding: $gutter-width * 2;

$box-hpadding-desktop: $gutter-width * 2;
$box-vpadding-desktop: $gutter-width * 4;


.box {
  @include box-background(theme-color(6));

  font-family: $fancy-font-family;
  font-size: 90%;
  margin: 0;
  padding: $box-vpadding $box-hpadding;
  position: relative;

  h3 {
    font-size: 0.8em;
    font-weight: $weight-bold;
    margin-bottom: $vmargin / 2;
  }

  big, small {
    display: block;
  }

  &.box-venue {
    @include box-background($color-venue);
  }
}

@include breakpoint-tablet {

  .box {
    padding: $box-vpadding-desktop $box-hpadding-desktop;
  }

}
