// _content.scss


html {

  background-color: #fff;
  background-image: image-url("paper.png");

  height: 100%;

}

body {

  min-height: 100%;

  @include breakpoint-tablet {
    padding: 100px 0 0 0;
  }
}

section {
  margin: 0;
  padding: $vmargin $gutter-width;

  @include breakpoint-tablet {
    @include clearfix;
    padding: ($vmargin * 2) 0;
  }

}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figure {
  position: relative;
}

figcaption {

    background: #fff;
    @include paper-background(#fff);

    color: #000;
    padding: 1em 0;
    text-align: 0;

    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    opacity: 0.9;

    a & {
      border-bottom: none;
      color: #333;
      text-decoration: none;
    }

}

hr {
  border: none;
  border-top: 1px solid theme-color(1);
  clear: both;
  margin: ($vmargin) 0;
}

#home {

  padding-top: 0;

  h1 {
    margin-bottom: $vmargin*2;
  }

  @include breakpoint-tablet {
    h1 {
      font-size: 280%;
    }
  }

  @include breakpoint-desktop {
      padding: 50px 0;
  }

}

@mixin sectionize($color, $light-factor: 25%, $dark-factor: 30%) {
  $light-color: lighten($color, $light-factor);
  $dark-color: darken($color, $dark-factor);
  $very-dark-color: darken($color, $dark-factor * 1.5);

  @include paper-background($light-color);
  a {
    color: $dark-color;
    &:hover {
      color: $very-dark-color;
    }
  }
}

#venue {
  @include sectionize($color-venue, 32.5%);
}

#bham {
  @include sectionize($color-bham, 22.5%, 30%);
}

#registry {
  @include sectionize($color-registry, 25%);

  @include breakpoint-tablet {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}

.shadowed-image {

  html.boxshadow & {
    @include box-sizing(border-box);
    @include box-shadow(0 0 10px #888);
    border: 15px solid #fff;
    margin: 2.5% 10%;
    margin-bottom: 10%;
  }

  color: $color-text;
  display: block;
  margin-bottom: 10%;
  text-decoration: none;

  @include breakpoint-tablet {

    html.boxshadow & {
      margin: 2.5%;
      margin-bottom: 10%;
    }

    -webkit-backface-visibility: hidden; // Fixes jaggy rotated edges in webkit

    &.rotate-left {
      @include rotate(-1deg);
    }

    &.rotate-right {
      @include rotate(1deg);
    }
  }
}

#rsvp {
  @include paper-background(lighten($color-rsvp, 20%));
  display: none;
}

.show-rsvp {

  #rsvp-button {
    display: none;
  }

  #rsvp {
    display: block;
  }

}

.rsvp-loading {
  background: image-url("rsvp-loading.gif") center center no-repeat;
  min-height: 100px;

  .wufoo-loaded & {
    background-image: none;
  }
}

#honeyfund {
  background: #fff;
  border-bottom: 2px solid #2085bb;
  display: block;
  margin: 2em auto;
  padding: 0 20px;
  width: image-width("honeyfund.png");
}